<!DOCTYPE html>
<html lang="en">
<head>
  <title>AdvancedWarsPrototype</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <% if params[:controller] == "games" %>
      <%= javascript_include_tag @javascript_file if !@javascript_file.nil? %>
      <%= javascript_include_tag "phaser.min.js"%>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body style class>
<div class="container">
  <%= render 'layouts/header' %>
  <div class="page-header"></div>
  <%= yield %>
</div>
</body>
</html>